dist/
!www/favicon.ico

*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
cardinal-dist
cardinal-dist.js
themes/commons-dist
themes/default-dist

.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.vimrc.local
